<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="emp">
	<resultMap type="map" id="empMap">
		<result column='emp_id' property="emp_id" javaType="string"/>
		<result column='emp_name' property="emp_name" javaType="string"/>
		<result column='emp_no' property="emp_no" javaType="string"/>
		<result column='email' property="email" javaType="string"/>
		<result column='phone' property="phone" javaType="string"/>
		<result column='dept_code' property="dept_code" javaType="string"/>
		<result column='job_code' property="job_code" javaType="string"/>
		<result column='sal_level' property="sal_level" javaType="string"/>
		<result column='salary' property="salary" javaType="_int"/>
		<result column='bonus' property="bonus" javaType="double"/>
		<result column='manager_id' property="manager_id" javaType="string"/>
		<result column='hire_date' property="hire_date" javaType="date"/>
	</resultMap>
<select id="selectAll" resultMap="empMap">
	select * from kh.employee
</select>

<select id="selectCol" resultMap="empMap">
		select * from (select A.*, 
		decode(substr(emp_no,8,1),1,'남',3,'남',2,'여',4,'여') 
		as gender
		from kh.employee A) A where 1=1	
	<!-- <choose>
		<when test="searchType !=null and searchType !=''">
			and ${searchType} like '%' || #{keyword} || '%'
		</when>
		<when test="keyword !=null and keyword !=''">
			and gender=#{gender}
		</when>
	</choose> -->
	
		<if test="searchType != null and searchType != ''">
			and ${searchType} like '%'||#{keyword}||'%'
		</if>	
		
		<if test="gender != null and gender != ''">
			and gender=#{gender}
		</if>

</select>



</mapper>


